<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>wicket6-native-websockets</display-name>

	<!--
		There are three means to configure Wickets configuration mode and they 
		are tested in the order given.
		
		1) A system property: -Dwicket.configuration 
		2) servlet specific <init-param> 
		3) context specific <context-param>

		The value might be either "development" (reloading when templates change) or 
		"deployment". If no configuration is found, "development" is the default. -->

    <!--<filter>-->
        <!--<filter-name>wrapper</filter-name>-->
        <!--<filter-class>com.wicketinaction.WrappingFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>wrapper</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

	<filter>
		<filter-name>wicket.wicket6-native-websockets</filter-name>
		<!--<filter-class>org.apache.wicket.protocol.ws.jetty.Jetty7WebSocketFilter</filter-class>-->
        <filter-class>org.apache.wicket.protocol.ws.jetty9.Jetty9WebSocketFilter</filter-class>
        <!--<filter-class>org.apache.wicket.protocol.ws.tomcat7.Tomcat7WebSocketFilter</filter-class>-->
        <!--<filter-class>org.apache.wicket.protocol.ws.javax.JavaxWebSocketFilter</filter-class>-->
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>com.wicketinaction.WicketApplication</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>wicket.wicket6-native-websockets</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
